<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biotronics.remotezap"
    tools:ignore="GoogleAppIndexingWarning">
    <!-- Donwloading therapies require internet connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/remotezap_luncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/remotezap_luncher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".License"
            android:screenOrientation="portrait">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.About" />
        </activity>
        <activity
            android:name=".About"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.MainMenu" />
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.MainMenu" />
        </activity>
        <activity
            android:name=".CreateNewThpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.TherapyManagementActivity" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <meta-data -->
            <!-- android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" -->
            <!-- android:resource="@xml/device_filter" /> -->
        </activity>
        <activity
            android:name=".ConsoleActivity"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.MainMenu" />
        </activity>
        <activity
            android:name=".TherapyManagementActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biotronics.remotezap.MainMenu" />
        </activity>

        <service
            android:name=".MyDeviceCommunicationService"
            android:description="@string/serviceDesc"
            android:exported="false"
            android:stopWithTask="true" />
    </application>

</manifest>